* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 body, html {
        height: 100%;
        margin: 0;
 }

h1,h2,h3 {
    padding-bottom:20px;
}
p {
    margin: 10px 0;
}


/*about */
#about{
 
    background:url(../image/hotel4.jpeg) no-repeat;
    background-size: cover;
    

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about .about-content {
    color:wheat;
    text-align: center;
    padding-top:170px;
}
#about .about-content h1 {
    font-size: 55px;
    line-height: 1.3em;
    font-family: 'Merienda', cursive;
   
}
.text-hotel {
    color:white;
    font-size: 45px;
    padding-bottom: 20px;
    line-height: 1.5em;
    font-family: 'Fredoka One', cursive;
}

.text-hotel2 {
    font-size: 45px;
    padding-bottom: 20px;
    line-height: 1.5em;
    color:wheat;
     font-family: 'Righteous', cursive;
    
}
/*about */

.vertical-heading h5 {
    color:white;
}
.horizontal-heading h2{
    color:white;
}
#about-right{
    color:white;
}
.about-item {
    color:white;
}

